{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}{{ self.title.lower }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% for article in blogs %}
                    <article class="my-3 blog-index">
                        <h2 class="my-1">
                            <a href="{{ article.slug }}/">{{ article.title }}</a>
                        </h2>
                        <p class="small">
                            Posted by {{ article.author.first_name }} {{ article.author.last_name }} on {{ article.date }}        
                            {% if article.categories.all %}
                                in 
                                {% for cat in article.categories.all %}
                                    <span style="text-transform: lowercase;">{{ cat.category.name }}</span> {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </p>
                        {% for block in article.body %}
                            {% if block.block_type == 'paragraph' %}
                                <div class="paragraph-block">
                                    {{ block.value|striptags|richtext|truncatewords_html:50 }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <p class="text-center"><a class="mt-3 btn btn-primary btn-sm" href="{{ article.slug }}">Read Article</a></p>
                    </article>
                {% endfor %}
                <ul class="justify-content-center pagination">
                    {% if blogs.has_previous %}
                        <li class="mx-2">
                            <a href="?page={{ blogs.previous_page_number }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                        </li>
                    {% endif %}
                    {% for page_num in blogs.paginator.page_range %}
                        <li {% if page_num == blogs.number %}class="active mx-2"{% else %}class="mx-2"{% endif %}>
                            <a href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                    {% endfor %}
                    {% if blogs.has_next %}
                        <li class="mx-2">
                            <a href="?page={{ blogs.next_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-3">
                    <form class="my-4" name="blog-search" action="{% url 'search' %}" method="get">
                    <input class="form-control" type="text" name="query" value="{{ search_query }}">
                    <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}