{% load wagtailcore_tags wagtailimages_tags %}

<div class="streamfield">
    {% for child in content %}
        {% if child.block_type == 'heading' %}
            <{{ child.value.heading_choice }} class="{{ child.value.heading_alignment }}">{{ child.value.heading_text }}</{{ child.value.heading_choice }}>  
        {% elif child.block_type == 'intro' %}
            <div class="intro">{{ child }}</div>

        <!-- RAW HTML -->   
        {% elif child.block_type == 'raw_html' %}
            <div class="raw-html {{ child.value.alignment }}">
                {{ child.value.html }}
            </div>

        <!-- ICON -->
        {% elif child.block_type == 'icon' %}
            <div class="icon {{ child.value.alignment }}">
                {% if child.value.font_awesome_icon_name and value.material_icon_name %}
                    <i class="{% if child.value.font_awesome_icon_choice == 'brand' %}fab{% else %}fas{% endif %} {{ child.value.font_awesome_icon_name }} fa-{{ child.value.font_awesome_icon_size }}" aria-hidden="true"></i>
                    <i class="material-icons md-{{ child.value.material_icon_size }}">{{ child.value.material_icon_name }}</i>
                {% elif child.value.font_awesome_icon_name %}
                    <i class="{% if child.value.font_awesome_icon_choice == 'brand' %}fab{% else %}fas{% endif %} {{ child.value.font_awesome_icon_name }} fa-{{ child.value.font_awesome_icon_size }}" aria-hidden="true"></i>
                {% elif child.value.material_icon_name %}
                    <i class="material-icons md-{{ child.value.material_icon_size }}">{{ child.value.material_icon_name }}</i>
                {% endif %}
            </div>
        <!--PULL QUOTE-->
        {% elif child.block_type == 'pullquote' %}
            <p class="lead text-center font-weight-light font-italic">"{{ child }}"</p>

        <!-- BLOCKQUOTE -->     
        {% elif child.block_type == 'blockquote' %}
            <blockquote class="blockquote py-3">
                {{ child.value.quote }}
                {% if child.value.attribution %}<footer class="blockquote-footer p-1">{{ child.value.attribution }}</footer>{% endif %}
            </blockquote>

        <!-- SMALL TEXT -->
        {% elif child.block_type == 'small_text' %}
            <small>{{ child }}</small>

        <!-- PARAGRAPH -->
        {% elif child.block_type == 'paragraph' %}
            {{ child.value|richtext }}

        <!-- ALIGNED IMAGE -->
        {% elif child.block_type == 'image' %}
            {% image child.value.image width-900 as theimage %}
            <figure>
                <img class="mx-4 img-fluid {% if child.value.image_thumbnail == True %}img-thumbnail{% endif %} {% if child.value.image_rounded == True %}rounded{% endif %} {% if child.value.image_alignment != 'center' %}float-{{ child.value.image_alignment }}{% else %}mx-auto d-block{% endif %}" src="{{ theimage.url }}" width="{{ theimage.width }}" height="{{ theimage.height }}" alt="{{ theimage.alt }}" />
            </figure>

        {% else %}
            {{ child }}
        {% endif %}
    {% endfor %}
</div>