{% load karenleebaldwin_tags wagtailcore_tags %}
{% get_site_root as site_root %}

<nav class="navbar navbar-expand-md navbar-light bg-light" role="navigation">
    <a class="navbar-brand p-2" href="{% pageurl site_root %}" title="Karen Lee Baldwin">Karen Lee Baldwin</a>
    <button class="mx-2 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for menuitem in menuitems %}
                <li class="nav-item{% if menuitem.active %} active{% endif %}">
                    {% if menuitem.show_dropdown %}
                        <a class="nav-link dropdown-toggle" href="{{ menuitem.url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ menuitem.title }}</a>
                        {% top_menu_children parent=menuitem %}
                    {% else %}
                        <a class="nav-link" href="{% pageurl menuitem %}">{{ menuitem.title }} <span class="sr-only">(current)</span></a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>