@import '../node_modules/bootstrap/scss/bootstrap';
/* @import 'font-awesome-custom';*/


body {
    font-family: 'Cormorant', Serif;
    background-color: #171A21;
    color: #D3D0CB;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800;
}

h1 {
    text-transform: uppercase;
    font-size: 3.5em;
}

p {
    font-size: 1.3em;
    line-height: 1.2em;
}

a {
    color: #428bca;
}

.btn-primary {
    background-color: #a34b10;
    border-color: #a34b10;
    color: #fff !important;
    text-transform: uppercase;
}

.assistive-text { /*For accessibility to skip navigation*/
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.btn-label { /*To hide empty links on social media links*/
    font-size: 0;
    height: 1px;
    overflow: hidden;
}

.img-thumbnail {
    background-color: #7F7F7F;
}

.responsive-object {
    display: block;
    padding: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.2s ease-in-out 0s; 
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/MaterialIcons-Regular.eot"); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("../fonts/MaterialIcons-Regular.woff2") format('woff2'),
    url("../fonts/MaterialIcons-Regular.woff") format('woff'),
    url("../fonts/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: #a43f33;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-72 { font-size: 72px; }
.material-icons.md-84 { font-size: 84px; }
.material-icons.md-96 { font-size: 96px; }
.material-icons.md-108 { font-size: 108px; }
.material-icons.md-120 { font-size: 120px; }

.svg-inline--fa {
    color: #a43f33;
}


/* ==========================================================================
  HEADER
   ========================================================================== */
nav {
    ul {
        li {
            a {
                font-size: 1.1em;
            }
        }
    }
}

/* ==========================================================================
  CONTENT
   ========================================================================== */
main {
    margin-bottom: 20px;
}

/* Blocks */
.block-four_columns {
    h2, h3, h4, h5, h6 {
        margin-top: 0;
    }    
    .rich-text {
        p {
            font-size: 0.9em;
        }
    }
    .icon {
        position: relative;
        left: -10px;
    }
}

.block-two_columns {
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* Hero Images */
.block-hero_image figure.overlay {
    position: relative; 
    width: 100%; /* for IE 6 */
    figcaption {
        max-width: 45%;
        position: absolute;
        top: 60%;
        left: 22%;  
        transform: translate(-10%, -65%);
        h2 {
            color: #f0f0f0;
            font-size: 4.4em;
            letter-spacing: -0.03em;
            margin-bottom: 0;
            text-transform: capitalize;
        }
        p.fine-print {
            color: #d2d2d2;
            font-size: 1.2em;
            line-height: 1.1em;
            margin-top: 4px;
        }
    }
    .photo-credit {
        position: absolute; /* absolute position (so we can position it where we want)*/
        bottom: 0; /* position will be on bottom */
        width: auto;
        right: 0;
        padding: 4px;
        background-color: #000;
        color: #fff;
        opacity: 0.5; /* transparency */
        filter: alpha(opacity=50); /* IE transparency */
    }
}


form[name="blog-search"] {
    input {
        &[type="text"] {
            @extend .form-control;
        }
        &[type="submit"] {
            @extend .btn, .btn-primary;
        }
    }
    .form-control + button  {
        position: absolute;
        right: 20px;
        top: 28px;
        border: 0;
        background-color: transparent;
        box-shadow: none;
    }
}
form[name="blog-search-results"] {
    input {
        &[type="text"] {
            @extend .form-control;
        }
        &[type="submit"] {
            @extend .btn, .btn-primary;
        }
    }
    .form-control + button  {
        position: absolute;
        right: 20px;
        top: 40px;
        border: 0;
        background-color: transparent;
        box-shadow: none;
    }
}

p.recent-articles {
    font-size: .89em;
}

.rich-text img {
    max-width: 100%;
    height: auto;
}


/* ==========================================================================
    FORMS
   ========================================================================== */
form {
    p {
        @extend .form-group, .row;
        span.helptext {
            @extend .small;
        }
        textarea {
            @extend .form-control;
            &[required=""]:focus {
                border-color: rgba(164, 63, 51, 1);
                box-shadow: 0 1px 1px rgba(164, 63, 51, 0.2) inset, 0 0 8px rgba(164, 63, 51, 0.8);
            }
        }
    }
    input {
        &[type="text"], &[type="email"] {
            @extend .form-control;
        }
        &[required=""]:focus {
            border-color: rgba(164, 63, 51, 1);
            box-shadow: 0 1px 1px rgba(164, 63, 51, 0.2) inset, 0 0 8px rgba(164, 63, 51, 0.8);
        }

        &[type="submit"] {
            @extend .btn, .btn-primary;
        }
    }
}

/* ==========================================================================
    FOOTER
   ========================================================================== */
footer {
    background-color: #403f3c;
    padding: 12px 0 12px 0;
    display: block;
    overflow: hidden;
    color: #bcbcbc;
    ul {
        list-style: none;
        li {
            i {
                color: #fff;
            }
            a {
                color: #2790b0;
                &:hover {
                    color: #fff;
                }
            }
        }
        &.footerRight {
            text-align: right;
        }
    }
}


/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    /* Hero Images */
    .block-hero_image figure.overlay {
        figcaption {
            padding: 6px; 
            h2 {
                font-size: 1.2em;
            }
            p.fine-print {
                font-size: 0.6em;
            }
        }
        .photo-credit {
            font-size: 95%;
        }
    }

/* ==========================================================================
    BLOCKS
   ========================================================================== */
    .block-two_columns {
        .row {
            display: block;
            justify-content: none;
            align-items: none;
            h2 {
                text-align: center;
            }
        }
    }
    .block-four_columns {
        h2, h3, h4, h5, h6 {
            text-align: center;
        }    
        .icon {
            position: none;
            left: 0;
            text-align: center;
        }
    }

/* ==========================================================================
    FOOTER
   ========================================================================== */
    footer {
        ul {
            &.footerLeft {
                text-align: center;
                padding: 0;
                li {
                    float: none;
                    display: inline-block;
                }
            }
            &.footerRight {
                text-align: center;
                padding: 0;
            }
        }
    }
}

/* Landscape phones and down */
@media (max-width: 525px) {
    h1 {
        font-size: 2em;
    }
    .table {
        font-size: 0.82em;
    }
/* ==========================================================================
    HERO IMAGES
   ========================================================================== */
    .block-hero_image figure.overlay {
        figcaption {
            max-width: 55%;
            h2 {
                font-size: 0.9em;
            }
        }
        .photo-credit {
            font-size: 65%;
            padding: 3px;
        }
    }
}